.success-message{
	color: black;
	padding: 10px;
	background: #E8F8EE;
	box-shadow: 0px 10px 32px -4px #18274B1A;
	border-radius: 2px;
	margin: 10px 0 30px;
}

.tm {
    font-size: 6px;
    vertical-align: super; /* Moves TM text to the top */
    font-weight: bold; 
}