/* SIDEBAR */

.sidebar {

    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    background: #f8fafc;

    padding: 24px 20px;

}


/* HEADER */

.sidebar-header {

margin-bottom:20px;
padding-bottom:18px;

border-bottom:1px solid #e5e7eb;

}


/* LOGO */

.logo {

    width: 120px;
    margin-bottom: 12px;

}


/* PORTAL TITLE */

.portal-title {

    font-size: 22px;
    font-weight: 600;

    color: #111827;

    margin-bottom: 4px;

}


/* SUBTITLE */

.portal-subtitle {

    font-size: 15px;
    color: #6b7280;

}


/* NAVIGATION */

.nav-container {

    display: flex;
    flex-direction: column;

    gap: 6px;

    margin-top: 20px;

}


/* MENU ITEM */

.nav-item {

    display: flex;
    align-items: center;

    gap: 14px;

    padding: 12px 14px;

    border-radius: 14px;

    font-size: 15px;
    font-weight: 500;

    color: #374151;

    cursor: pointer;

    transition: all 0.15s ease;

}


/* ICON SIZE */

.nav-item lightning-icon {

    --sds-c-icon-color-foreground-default: #4b5563;

}


/* HOVER */

.nav-item:hover {

    background: #f3f4f6;

}


/* ACTIVE MENU */

.nav-item.active {

    background: white;

    color: #14532d;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

}

.nav-item.active lightning-icon {

    --sds-c-icon-color-foreground-default: #14532d;

}