:host {
    display: block;
    height: 100%;
}

.tile-action {
    display: block;
    height: 100%;
    cursor: pointer;
}

.tile-body {
    min-height: 10rem;
}

.partner-name {
    word-break: break-word;
}

.risk-box {
    border-radius: 0.5rem;
}
